
body{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel{
    max-width: 600px;  
    position: relative; 


}
.dot-container{
    display: flex;
    justify-content: center;
    width: 100%;

    top:50%;
    transform: translateY(-100%);
}

.Dot{
    border-radius: 50%;
    background-color: rgb(64, 0, 255);
    width: 12px;
    height: 12px;
    margin: 15px;
}
.image-dot{
    background-color: rgb(113, 113, 113);
}
.carousel-item img{
    max-width: 100%;
}
.carousel-item,.hidden{
    display: none;
}
.carousel-item-visible{
    display: block;
    animation: transitionFrames 0.6s;
}
.carousel-actions{
    position: absolute; 
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.carousel-actions button{
    width: 40px;
    height: 40px;
    font-weight: 600;
    font-size: 16px;
    border: none;
    background-color: whitesmoke;
    border-radius: 50%;
}
.carousel-actions button:hover{
    font-size: 20px;
    opacity: 0.5;
}
.carousel-actions button:active{
    font-size: 20px;
    opacity: 1;
}


.carousel-actions #carousel-button-prev{
margin-left: 10px;
}
.carousel-actions #carousel-button-next{
    margin-right: 10px;
}
@keyframes transitionFrames {
    0%{ opacity: 0%;}
    100%{ opacity: 100%;}
}
